
:root {
    --color-principal: #5bbbf3;
    --color-texto: #000;
    --color-fondo: #f5f5f5;
}

body {
    font-family: sans-serif;
    background-color: var(--color-fondo);

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-color: var(--color-principal);
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--color-texto);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: gray;
}

main {
    grid-area: main;
    padding: 20px;

    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
}

aside {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

article {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
}


article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

article a {
    display: inline-block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}